#    Dictionary

OBJECTIVES
Describe, create and access a dictionary data structure
Use built in methods to modify and copy dictionaries
Iterate over dictionaries using loops and dictionary comprehensions
Compare and contrast dictionaries and lists

<font color="blue">Limitations of Lists</font>

Not enough information!

instructor = ["Colt", True, 4, "Python", False]
We want to describe this data in more detail!

A dictionary!

A data structure that consists of key value pairs.

We use the keys to describe our data and the values to represent the data

In [2]:
our_dict={
         'name':'shahil',
    'roll':34,
    'home_no':60
    
}

In [3]:
our_dict

{'name': 'shahil', 'roll': 34, 'home_no': 60}

In [6]:
our_dict.keys()

dict_keys(['name', 'roll', 'home_no'])

In [7]:
our_dict.values()

dict_values(['shahil', 34, 60])

In [12]:
our_dict['name']
our_dict['roll']

34

In [14]:
our_dict.items()

dict_items([('name', 'shahil'), ('roll', 34), ('home_no', 60)])

# Dictionary Methods

In [15]:
new_copy_dict=our_dict.copy()

In [16]:
new_copy_dict.items()

dict_items([('name', 'shahil'), ('roll', 34), ('home_no', 60)])

In [17]:
new_copy_dict.clear()

In [18]:
new_copy_dict

{}

In [19]:
#fromkeys

{}.fromkeys("a","b") # {'a': 'b'}
{}.fromkeys(["email"], 'unknown') # {'email': 'unknown'}
{}.fromkeys("a",[1,2,3,4,5]) # {'a': [1, 2, 3, 4, 5]}

#Creates key-value pairs from comma separated values:

{'a': [1, 2, 3, 4, 5]}

In [20]:
{}.fromkeys("a","b")

{'a': 'b'}

In [21]:
{}.fromkeys("a",[12,3,4,6,7])

{'a': [12, 3, 4, 6, 7]}

In [22]:
#get

#Retrieves a key in an object and return None instead of a KeyError if the key does not exist

In [23]:
#get method
our_dict.get('name')

'shahil'

In [24]:
our_dict.get('home_no')

60

In [25]:
#pop
#Takes a single argument corresponding to a key and removes that key-value pair from the dictionary. Returns the value corresponding to the key that was removed.

our_dict

{'name': 'shahil', 'roll': 34, 'home_no': 60}

In [28]:
our_dict.pop('home_no')

60

In [29]:
our_dict

{'name': 'shahil', 'roll': 34}

In [30]:
#popitem
# pop the random dictionary item from dic

our_dict.popitem()

('roll', 34)

In [33]:
our_dict['p_no']=900

In [34]:
our_dict

{'name': 'shahil', 'p_no': 900}

In [35]:
our_dict['gmail']='@gmail.com'

In [36]:
our_dict

{'name': 'shahil', 'p_no': 900, 'gmail': '@gmail.com'}

In [38]:
new_dict={'a':1,
         'b':2,
         'c':3}

In [40]:
new_dict

{'a': 1, 'b': 2, 'c': 3}

In [41]:
our_dict.update(new_dict)

In [42]:
our_dict

{'name': 'shahil', 'p_no': 900, 'gmail': '@gmail.com', 'a': 1, 'b': 2, 'c': 3}

# Dictionary Comprehension

he syntax

{ ____:____ for ___ in ____}

- iterates over keys by default

- to iterate over keys and values using .items()

In [43]:
number=dict(first=1,second=2,third=3,fourth=4)

In [44]:
number

{'first': 1, 'second': 2, 'third': 3, 'fourth': 4}

In [46]:
{key:value**2 for key ,value in number.items()}

{'first': 1, 'second': 4, 'third': 9, 'fourth': 16}

In [55]:
#conditional logic with dictionaries
num=[1,2,3,4,5,6]
{key:('even' if key%2==0  else 'odd') for key in num}

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even'}

In [56]:
#use rae
{num:("even"if num%2==0 else "odd") for num in range(1,50)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd',
 16: 'even',
 17: 'odd',
 18: 'even',
 19: 'odd',
 20: 'even',
 21: 'odd',
 22: 'even',
 23: 'odd',
 24: 'even',
 25: 'odd',
 26: 'even',
 27: 'odd',
 28: 'even',
 29: 'odd',
 30: 'even',
 31: 'odd',
 32: 'even',
 33: 'odd',
 34: 'even',
 35: 'odd',
 36: 'even',
 37: 'odd',
 38: 'even',
 39: 'odd',
 40: 'even',
 41: 'odd',
 42: 'even',
 43: 'odd',
 44: 'even',
 45: 'odd',
 46: 'even',
 47: 'odd',
 48: 'even',
 49: 'odd'}

# Recap

dictionaries are key value pairs that are useful when describing collections and order is not important

you can create dictionaries with curly braces or the dict function

you can iterate over dictionaries using keys(), values() and items()

use methods like get to handle errors more gracefully than directly accessing keys in a dictionary

dictionary comprehension is useful for creating dictionaries from other data structures#

# <font color="blue">TUPLES AND SETS</font>

OBJECTIVES
Describe, create and access tuples and sets
Use built in methods to modify sets and access values in tuples
Iterate over sets using loops and set comprehensions
Compare and contrast sets & tuples with lists & dictionaries

What is a Tuple?

An ordered collection or grouping of items!

But it is immutable! means you cannot modified the list after created

In [58]:
my=(1,2,3)

In [59]:
my[0]

1

In [62]:
my[0]=7

TypeError: 'tuple' object does not support item assignment


Why use a Tuple?

It makes your code safer

Tuples are faster than lists
vaild key in a dictionary

Some methods return them to you - like .items() when working with dictionaries!

Creating / Accessing
create by simple name=()
Accessing is just like a list!

In [63]:
new_tuple=('name','roll','email','p_no')

In [67]:
create_tuple=tuple("dd")

In [68]:
create_tuple

('d', 'd')

it has only two method

1.)count
2.)index

In [72]:
num_tuple=(1,2,3,44,5,5,6,7,8,5,22,2,2,2)

In [73]:
num_tuple.count(2)

4

In [74]:
num_tuple.count(5)

3

In [79]:
num_tuple.index(22)

10

In [80]:
num_tuple.index(44)

3

# Sets

Sets are like formal mathematical sets.
Sets do not have duplicate values
Elements in sets aren't ordered.
You cannot access items in a set by index.
Sets can be useful if you need to keep track of a collection of elements, but don't care about ordering, keys or values and duplicates

In [83]:
#create and access 
a={1,2,3,4,5,5}

In [85]:
a   #not print the dublicate values

{1, 2, 3, 4, 5}

In [88]:
b=set('1')

In [90]:
c=set({1,2,3,4,4,4,4,5,6,6,6,66})

In [91]:
c

{1, 2, 3, 4, 5, 6, 66}

set mathod

add
  remove
 copy clear
Including:

intersections
symmetric_difference
union

In [94]:
#set comprehasion
{vale**2 for vale in range(1,12)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121}